<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

    <!-- front page -->
    <main id="site-main">
        <div class="heading">
            <div class="d-flex justify-between">
                <div class="filter">
                    <a href="/home">All Animes</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text">New Anime</h2>
                <span class="text">Add an anime by filling in the form</span>
            </div>

            <%- include('include/_form') %>

            
        </div>
    </main>
<!-- /front page -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->