<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

    <!-- front page -->
    <main id="site-main">
        <div class="heading">
            <div class="d-flex justify-between">
                <a href="/add-anime" class="addlog">
                    <span class="text-gradient">Add Anime</span>
                </a>
            </div>

            <!--form handling -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead">
                        <tr>
                            <th>Anime ID</th>
                            <th>Name</th>
                            <th>Genre</th>
                            <th>Type</th>
                            <th>Episodes</th>
                            <th>Rating</th>
                            <th>Members</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('include/_show') %>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
    <!-- /front page -->


    

<!-- include footer -->
    <%- include('include/_footer') %>
<!-- /include footer -->