<!--form handling -->
<form method="POST" id="add_anime">
    <div class="new_anime">
        <div class="form-group">
            <label for="ID" class="text"> Anime ID</label>
            <input type="hidden" name="ID" value="">
            <input type="text" name="name" value="">
        </div>
        <div class="form-group">
            <label for="Name" class="text">Anime Name</label>
            <input type="text" name="Name" value="">
        </div>
        <div class="form-group">
            <label for="Genre" class="text">Genre</label>
            <input type="text" name="Genre" value="">
        </div>
        <div class="form-group">
            <label for="Type" class="text">Type</label>
            <input type="text" name="Type" value="">
        </div>
        <div class="form-group">
            <label for="Episodes" class="text">Episodes</label>
            <input type="text" name="Episodes" value="">
        </div>
        <div class="form-group">
            <label for="Rating" class="text">Rating</label>
            <input type="text" name="Rating" value="">
        </div>
        <div class="form-group">
            <label for="Members" class="text">Members</label>
            <input type="text" name="Members" value="">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text update">Save</button>
        </div>

    </div>
</form>