<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SearchBar</title>
</head>
<body>
    <form action="/search/ByName" method="post">
        <label for="animeName"> Search Anime by Name</label>
        <input name="animeName" id="Name"/>
    </form>
</body>
</html>