<tr>
    <td>2939</td>
    <td>One Piece</td>
    <td>Adventure,action</td>
    <td>TV</td>
    <td>1004</td>
    <td>8.58</td>
    <td>504862</td>
    <td>
        <a href="/update-anime" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt">Edit</i></span>
        </a>
        <a href="deleteIcon" class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times">Delete</i></span>
        </a>
    </td>
</tr>    