* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration-line: none;
    color: black;
}

body{
    background: url("../background/anime.jpeg");
}

.heading{
    max-width: 1024px;
    margin: auto;
}

.title{
    font-size: 4em;
    font-weight: bolder;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
    margin-left: 450px;
}

.justify-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.addlog{
    box-shadow: 1px 3px 10px #000000;
    background-color: white;
}

.text{
    color: black;
}

.inline{
    display: inline-block;
}

.text-gradient{
    background: linear-gradient(to right, #0f0bcf, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: white;
}


#header nav{
    padding: 2em 0;
    width: 100%;
}

#site-main{
    margin-top: 6em;
    font-family: 'Barlow', sans-serif;
}




#site-main .heading form{
    margin: 10px;
}

table{
    border-spacing: 0px;
    width: 100%;
    max-width: 786px;
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(255, 255, 255, 0.2);
    box-decoration-break: slice;
    background:linear-gradient(to right, #7b6bc4, #d306c2);
    margin-left: 80px;
    display: inline-block;
}

.table td, .table th{
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
}

.table td > a.btn{
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0 .2em;
}

.table tr:hover{
    background-color:#4a52c5 ;
}

.table tr:hover td > a{
    box-shadow: none;
}

.table .thead th{
    color: rgb(0, 0, 0);
    border-color: #000000;
}

@media only screen and (max-width: 1024px){
    table, thead, tbody, th, td, tr{
        display: block;
    }

    thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid var(--border);}

    td{
        border: none;
        position: relative;
    }

}

.form-title{
    margin-bottom: 0
}

.form-title > h2{
    padding: .5em 0;
}

.new_anime{
    max-width: 786px;
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(255, 255, 255, 0.2);
    box-decoration-break: slice;
    background:linear-gradient(to right, #c16bc4, #d306c2);
    
}

#update_anime .form-group,
#add_anime .form-group{
    margin-bottom: 0
}

#update_anime .form-group input[type="text"],
#add_anime .form-group input[type="text"]{
    width: 100%;
    padding: .10em 1em;
    margin: .11em 0;
    font-size: 1.5em;

}

#update_anime .form-group,
#add_anime .form-group{
    margin-bottom: 0
}


#update_anime .form-group .btn,
#add_anime .form-group .btn{
    padding: 0.5em 0.5em;
    background-color:#fdfdfd; 
    font-size: 1.3em;
    margin: 0.3em 0;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #fafafa;
    outline-width: 0;
    font-weight: 100
}

#update_anime .form-group .btn:hover,
#add_anime .form-group .btn:hover{
    background-color: var(--dark);
    color: var(--border);
}


#navbar{
   padding-right: 20px;
   max-width: 1024px;
   margin: auto;
   color: white;
}