* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration-line: none;
    color: black;
}

body{
    background: url("../background/anime.jpeg");
}

.heading{
    max-width: 1024px;
    margin: auto;
}

.title{
    font-size: 4em;
    font-weight: bolder;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
    margin-left: 450px;
}

.justify-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.addlog{
    box-shadow: 1px 3px 10px #000000;
    background-color: white;
}

.text{
    color: black;
}

.inline{
    display: inline-block;
}

.text-gradient{
    background: linear-gradient(to right, #0f0bcf, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: white;
}


#header nav{
    padding: 2em 0;
    width: 100%;
}

#site-main{
    margin-top: 6em;
    font-family: 'Barlow', sans-serif;
}



#site-main .heading form{
    margin: 10px;
}

table{
    border-spacing: 0px;
    width: 100%;
}

.table td, .table th{
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
}

.table td > a.btn{
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0 .2em;
}

.table tr:hover{
    background-color:#4a52c5 ;
}

.table tr:hover td > a{
    box-shadow: none;
}

.table .thead th{
    color: rgb(0, 0, 0);
    border-color: #000000;
}

